<div class="header_nav_wrap">
    <div class="header_nav">
        <nav>
            <ul class="header_nav_bar">
                <li class="nav_item item_1"><a href="/">Home</a></li>
                <li class="nav_item item_2"><a href="/products">Products</a></li>
                <li class="nav_item"><a href="/add">Add Product</a></li>
                <li class="nav_item"><a href="/about">About Us</a></li>
                <li class="nav_item"><a href="/test">Test</a></li>

            </ul>
            <ul class="header_nav_bar_right">
                <li class="nav_item" id="nav_item_cart">
                    <a href="/cart">
                        <i class="basket fas fa-shopping-basket" id="basket"></i>
                        <span id="cart_summarise_prise">$0</span>
                    </a>

                </li>
                <li class="nav_item"><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="header_undernav_wrap">
    <div class="header_undernav">

        <div class="logo_box">
            <div class="logo_left">
                <div class="crown"><i class="icon_crown fas fa-crown"></i></div>
                <p class="logo_left_word word_1">SPORTS</p>
            </div>
            <div class="logo_right">
                <p class="logo_right_word">HOLD</p>
            </div>
        </div>

        <ul class="undernav_nav">
            <li class="undernav_item">Home</li>
            <li class="undernav_item">Men</li>
            <li class="undernav_item">Women</li>
            <li class="undernav_item">Children</li>
            <li class="undernav_item">Baby</li>
            <li class="undernav_item">Brands</li>
            <li class="undernav_item">Sale</li>
        </ul>
    </div>
</div>
