<div class="help_wrap">
    <div class="box_help">
        <div class="box_help_message">
            <i class="envelop_2 fas fa-envelope-open"></i>
            <i class="envelop fas fa-envelope"></i>
            <div class="box_help_message_top_text">
                <p class="message_top_text_word">L</p>
                <p class="message_top_text_word">O</p>
                <p class="message_top_text_word">O</p>
                <p class="message_top_text_word">K</p>
                <p class="message_top_text_word">I</p>
                <p class="message_top_text_word">N</p>
                <p class="message_top_text_word">G</p>
                <p class="message_top_text_word">F</p>
                <p class="message_top_text_word">O</p>
                <p class="message_top_text_word">R</p>
                <p class="message_top_text_word">H</p>
                <p class="message_top_text_word">E</p>
                <p class="message_top_text_word">L</p>
                <p class="message_top_text_word">P</p>
                <p class="message_top_text_word">?</p>
            </div>
            <div class=" message_top_text_second ">
                <p class="message_top_text_second_word">T</p>
                <p class="message_top_text_second_word">O</p>
                <p class="message_top_text_second_word">U</p>
                <p class="message_top_text_second_word">C</p>
                <p class="message_top_text_second_word">H</p>
                <p class="message_top_text_second_word">M</p>
                <p class="message_top_text_second_word">E</p>
                <p class="message_top_text_second_word">S</p>
                <p class="message_top_text_second_word">S</p>
                <p class="message_top_text_second_word">A</p>
                <p class="message_top_text_second_word">G</p>
                <p class="message_top_text_second_word">E</p>
                <p class="message_top_text_second_word">!</p>
            </div>
            <p class="box_help_message_bottom_text">Have any questions or need help with order? Let us know!</p>
        </div>
        <button class="box_help_button" type="button" name="button">MAKE IN INQURY</button>
    </div>
</div>

<a name="contacts"></a>

<footer class="footer">
    <div class="footer_row_one">
        <div class="footer_row_one_item footer_item_1">
            <p>Free Shipping <br> in Europe</p>
        </div>
        <div class="footer_row_one_item footer_item_2">
            <p>Money Back <br> Guarantee</p>
        </div>
        <div class="footer_row_one_item footer_item_3">
            <p>24/7 Customer <br> Support</p>
        </div>
        <div class="footer_row_one_item footer_item_4">
            <p>Lowest Prices <br> Guaranteed</p>
        </div>
        <div class="footer_row_one_item footer_item_5">
            <p>Exclusive Items <br> for Sportshold</p>
        </div>
        <div class="footer_row_one_item footer_item_6">
            <p>5-Day Delivery <br> in Europe</p>
        </div>
    </div>

    <div class="footer_row_two">
        <div class="footer_row_two_left">
            <div class="footer_row_two_left footer_row_two_left_item_1">
                <div class="footer_row_two_left_box"><i class="footer_icon fas fa-phone-volume"></i></div>
                <p class="footer_row_two_left_text_top">CALLS</p>
                <p class="footer_row_two_left_text_bottom"><a href="#"></a>
                    <div class="number_box">
                <p class="number">0</p>
                <p class="number">6</p>
                <p class="number">3</p>
                <p class="number">4</p>
                <p class="number">6</p>
                <p class="number">1</p>
                <p class="number">3</p>
                <p class="number">5</p>
                <p class="number">2</p>
                <p class="number">2</p>
            </div>
            </p>
        </div>

        <div class="footer_row_two_left footer_row_two_left_item_2">
            <div class="footer_row_two_left_box footer_left_box_second"><i class="far fa-envelope"></i></div>
            <p class="footer_row_two_left_text_top">EMAIL US</p>
            <p class="footer_row_two_left_text_bottom footer_row_two_left_text_bottom_midle">
                <div class="number_box number_middle">
            <p class="number">m</p>
            <p class="number">a</p>
            <p class="number">k</p>
            <p class="number mail_4">a</p>
            <p class="number">r</p>
            <p class="number">o</p>
            <p class="number mail_7">v</p>
            <p class="number">d</p>
            <p class="number mail_9">e</p>
            <p class="number">n</p>
            <p class="number">y</p>
            <p class="number">s</p>
            <p class="number">1</p>
            <p class="number">9</p>
            <p class="number">8</p>
            <p class="number">5</p>
            <p class="number">@</p>
            <p class="number">g</p>
            <p class="number">m</p>
            <p class="number">a</p>
            <p class="number">i</p>
            <p class="number">l</p>
            <p class="number">.</p>
            <p class="number">c</p>
            <p class="number">o</p>
            <p class="number">m</p>
        </div>
        </p>
    </div>

    <div class="footer_row_two_left footer_row_two_left_item_3">
        <div class="footer_row_two_left_box footer_left_box_third"><i class="far fa-map"></i></div>
        <p class="footer_row_two_left_text_top">ADDRESS</p>
        <p class="footer_row_two_left_text_bottom"><a href="#"></a>
            <div class="number_box">
        <p class="number">4</p>
        <p class="number">0</p>
        <p class="number mail_3">B</p>
        <p class="number mail_4">a</p>
        <p class="number">r</p>
        <p class="number">i</p>
        <p class="number mail_7">a</p>
        <p class="number mail_8">S</p>
        <p class="number mail_9">t</p>
        <p class="number">r</p>
        <p class="number">e</p>
        <p class="number">e</p>
        <p class="number">t</p>
        <p class="number mail_14">1</p>
        <p class="number">3</p>
        <p class="number">3</p>
        <p class="number">/</p>
        <p class="number">2</p>
        <p class="number">,</p>
        <p class="number mail_20">N</p>
        <p class="number">Y</p>
        <p class="number">,</p>
        <p class="number mail_23">U</p>
        <p class="number">S</p>
    </div>
    </p>
    </div>
    </div>


    <div class="footer_row_two_right_col_hidden"></div>

    <div class="footer_row_two_right">
        <div class="footer_row_two_right_col">
            <ul class="footer_row_two_right_col_ul">NAVIGATION
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Latest News</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Brands</a></li>
            </ul>
        </div>


        <div class="footer_row_two_right_col">
            <ul class="footer_row_two_right_col_ul">CATEGORIES
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Children</a></li>
                <li><a href="#">Baby</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
        </div>

        <div class="footer_row_two_right_col">
            <ul class="footer_row_two_right_col_ul">SALES
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Most Popular</a></li>
                <li><a href="#">Tpo Picks</a></li>
                <li><a href="#">Outlet</a></li>
            </ul>
        </div>

        <div class="footer_row_two_right_col">
            <ul class="footer_row_two_right_col_ul">SUPPORT
                <li><a href="#">Shipping & Delivery</a></li>
                <li><a href="#">Return Policy</a></li>
                <li><a href="#">Terms & Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
    </div>

    <div class="underfooter">
        <div class="underfooter_left"></div>
        <div class="underfooter_center">© 2020 Sportshold. Made by Makarov Denys.</div>
        <div class="underfooter_right">
            <ul class="icons">
                <li class="icon icon_1"><i class="fab fa-twitter fa-2x"></i></li>
                <li class="icon icon_2"><i class="fab fa-facebook-f fa-2x"></i></li>
                <li class="icon icon_3"><i class="fab fa-pinterest fa-2x"></i></li>
                <li class="icon icon_4"><i class="fab fa-youtube fa-2x"></i></li>
            </ul>
        </div>
    </div>
</footer>
