<div class="js_content_box_wrap" id="js_content_box_wrap">
    <div class="js_content_box" id="js_content_box">

        <div class="login_box" id="login_box">
            <div class="js_content_title js_login_title" id="js_login_title">
                <div class="over_slider_text over_slider_text_login">
                    <p class="over_slider_text_word">L</p>
                    <p class="over_slider_text_word">O</p>
                    <p class="over_slider_text_word">G</p>
                    <p class="over_slider_text_word">I</p>
                    <p class="over_slider_text_word">N</p>
                    <p class="over_slider_text_word"></p>
                    <p class="over_slider_text_word">P</p>
                    <p class="over_slider_text_word">A</p>
                    <p class="over_slider_text_word">G</p>
                    <p class="over_slider_text_word">E</p>
                </div>
                <div class="over_slider_text_shadow">
                    <p class=" over_slider_text_word_shadow">L</p>
                    <p class=" over_slider_text_word_shadow">O</p>
                    <p class=" over_slider_text_word_shadow">G</p>
                    <p class=" over_slider_text_word_shadow">I</p>
                    <p class=" over_slider_text_word_shadow">N</p>
                    <p class=" over_slider_text_word_shadow"></p>
                    <p class=" over_slider_text_word_shadow">P</p>
                    <p class=" over_slider_text_word_shadow">A</p>
                    <p class=" over_slider_text_word_shadow">G</p>
                    <p class=" over_slider_text_word_shadow">E</p>
                </div>
            </div>

            <!---->
            <div class="js_content_title js_range_title" id="js_range_title">
                <div class="over_slider_text over_slider_text_login">
                    <p class="over_slider_text_word">S</p>
                    <p class="over_slider_text_word">H</p>
                    <p class="over_slider_text_word">O</p>
                    <p class="over_slider_text_word">E</p>
                    <p class="over_slider_text_word">S</p>
                    <p class="over_slider_text_word"></p>
                    <p class="over_slider_text_word">R</p>
                    <p class="over_slider_text_word">A</p>
                    <p class="over_slider_text_word">N</p>
                    <p class="over_slider_text_word">G</p>
                    <p class="over_slider_text_word">E</p>
                </div>
                <div class="over_slider_text_shadow">
                    <p class=" over_slider_text_word_shadow">S</p>
                    <p class=" over_slider_text_word_shadow">H</p>
                    <p class=" over_slider_text_word_shadow">O</p>
                    <p class=" over_slider_text_word_shadow">E</p>
                    <p class=" over_slider_text_word_shadow">S</p>
                    <p class=" over_slider_text_word_shadow"></p>
                    <p class=" over_slider_text_word_shadow">R</p>
                    <p class=" over_slider_text_word_shadow">A</p>
                    <p class=" over_slider_text_word_shadow">N</p>
                    <p class=" over_slider_text_word_shadow">G</p>
                    <p class=" over_slider_text_word_shadow">E</p>
                </div>
            </div>            <!---->

            <div class="login_content">
                <form action="" class="login_form">

                    <div class="email_box" id="email_box">
                        <label for="email" class="label_title">email</label>
                        <input type="text" name="email" id="check_email" class="check_email"
                               placeholder="Enter email please">
                        <div class="error_email" id="error_email"></div>
                    </div>

                    <div class="password_box" id="password_box">
                        <label for="password" class="label_title">password</label>
                        <input type="password" name="password" id="check_password" class="check_password"
                               placeholder="Enter password please">
                        <div class="error_password" id="error_password"></div>
                    </div>

                    <button type="click" id="button_submit" class="button_submit button_submit_untouch">SUBMIT</button>
                    <button class="show_content button_submit_touch" id="show_content">You will see main content after
                        registration
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
