

.add_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_block{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.left_add_block_add{
    width: 30%;
    height: 100%;
}

.right_add_block_add{
    width: 60%;
    height: 100%;
    /*display: none;*/
}

.add_form_container{
    width: 100%;
    height: 400px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
}

.temp_img{
    width: 95%;
    height: 88%;
    border: 1px solid darkgrey;
    margin-top: 10px;
}

input{
    width: 95%;
    height: 5%;
    margin-top: 2%;
    border: none;
    border-bottom: 1px  solid grey;
    display: block;
}
input[type=file]{
    margin-top: 10px;
    border: none;
    display: block;
}

.desc{
    width: 95%;
    margin-top: 1%;
}

.show_more_btn{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}


/*product*/

@media screen and (max-width: 1440px) {
    .box_img_product {
        height: 350px!important;
    }
    .product_box{
        height: 450px!important;
    }
}
@media screen and (max-width: 1024px) {

    .product_box{
        width: 1024px!important;
    }
}
@media screen and (max-width: 768px) {
    /*.box_img_product {*/
    /*    height: 350px!important;*/
    /*}*/
    .product_box{
        width: 768px!important;
    }
}

.product_box{
    width: 1200px;
    height: 550px;
    /*border: 1px solid red;*/
    margin: auto;
    box-sizing: border-box;
}
.product_box_img{
    width: 35%;
    height: 100%;
    /*border: 1px solid red;*/
    float: left;
    box-sizing: border-box;
    position: relative;
}

.product_slider{
    width: 100%;
    height: 100%;
}

.box_img_product{
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product_box_img > .box_slider{
    width: 100%;
    height: 30%;
}

.product_box_desc{
    float: right;
    width: 65%;
    height: 100%;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    padding: 5%;
    position: relative;
}
.product_box_desc > .boxSale{
    width: 15%;
    height: 30px;
    float: right;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #ff7270;
    position: absolute;
    top: 10%;
    right: 8%;
    font-family: TruenoLt;

}
.product_box_desc > .new_price{
    font-size: 23px;
    color: #ff7270;
    font-family: TruenoLt;
}
.product_box_desc > .price_before{
    color: grey;
    font-size: 18px;
    margin-top: 5px;
    text-decoration: line-through;
    font-family: TruenoLt;
}

.product_title{
    font-family: TruenoBd;
    font-size: 15px;
    text-transform: uppercase;
    color: grey;
    margin-bottom: 1%;
}
.product_title > span{
    text-transform: none;
    font-family: TruenoLt;
    font-size: 16px;
    line-height: 21px;
}

.arrow_right_product, .arrow_left_product{
    position: absolute;
}

.btn-buy{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    height: 50px;
    border: 1px solid grey;
    background: #623232;
    color: #fff;
    width: 130px;
    text-align: center;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-size: 25px;
    float: right;
    cursor: pointer;
}

.clearfix{
    float: none;
}
.btn_edit{
    margin-top: 1%;
    position: relative;
    padding: 0;
}
.btn_edit > .link_edit{
    text-decoration: none;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    font-family: TruenoLt;
    text-align: center;
    line-height: 45px;
}

.btn_edit > .link_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    /*margin: -2px;*/
}

.btn-remove_box{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}
.btn-remove{
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
    background: transparent;
}


/*EDIT*/




/*card*/

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}
.card-box{
    /*border-bottom: 1px solid red;*/
    width: 1200px;
    margin: auto;
}

.block-products_item{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.products_item-img{
    width: 20%;
    height: 95%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.products_item-title{
    font-family: TruenoBd;
    color: grey;
    width: 30%;
}
.products_item-price, .products_item-size{
    width: 20%;
}
.products_item-count{
    width: 10%;
}
.btn-remove_block{
    width: 10%;
}
.btn-remove_block > .btn-remove{
    width: 70%;
}
.overall-price{

}
.buy_overall{
    width: 97%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buy_overall > .btn_overall-price{
    width: 10%;
    height: 50%;
}


