
@font-face{
    font-family: 'myriadpro-regular';
    src: url('../fonts/MyriadPro/myriadpro-regular.ttf');
    src: url('../fonts/MyriadPro/myriadpro-regular.eot');
    src: url('../fonts/MyriadPro/myriadpro-regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat-Thin';
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
    src: url('../fonts/Montserrat/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat/Montserrat-Thin.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TruenoBdOl';
    src: url('../fonts/trueno/TruenoBdOl.otf');
    src: url('../fonts/trueno/TruenoBdOl.ttf');
    src: url('../fonts/trueno/TruenoBdOl.eot');
    src: url('../fonts/trueno/TruenoBdOl.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TruenoSBd';
    src: url('../fonts/trueno/TruenoSBd.otf');
    src: url('../fonts/trueno/TruenoSBd.ttf');
    src: url('../fonts/trueno/TruenoSBd.eot');
    src: url('../fonts/trueno/TruenoSBd.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TruenoBd';
    src: url('../fonts/trueno/TruenoBd.ttf');
    src: url('../fonts/trueno/TruenoBd.otf');
    src: url('../fonts/trueno/TruenoBd.eot');
    src: url('../fonts/trueno/TruenoBd.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TruenoLt';
    src: url('../fonts/trueno/TruenoLt.otf');
    src: url('../fonts/trueno/TruenoLt.eot');
    src: url('../fonts/trueno/TruenoLt.woff');
    src: url('../fonts/trueno/TruenoLt.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Audiowide';
    src: url('../fonts/Audiowide/Audiowide-Regular.eot');
    src: url('../fonts/Audiowide/Audiowide-Regular.ttf');
    src: url('../fonts/Audiowide/Audiowide-Regular.woff');
    font-weight: normal;
    font-style: normal;
}


////////////// mixins & variable

$color:#623232;
$bgLighter:#F4E4CB;


@mixin box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin touch{
    background: #FFFFFF;
    border: 1px solid $color;
    box-shadow: -1px 0px rgb(61, 31, 19), -1px 1px rgb(84, 44, 28),
    -2px 1px rgb(60, 30, 18), -2px 2px rgb(83, 43, 27),
    -3px 2px rgb(59, 29, 17), -3px 3px rgb(82, 42, 26),
    -4px 3px rgb(58, 28, 16), -4px 4px rgb(81, 41, 25),
    -5px 4px rgb(57, 27, 15), -5px 5px rgb(80, 40, 24),
    -6px 5px rgb(56, 26, 14), -6px 6px rgb(79, 39, 23),
    -7px 6px rgb(55, 25, 13), -7px 7px rgb(78, 38, 22);
}

@mixin untouch{
    background: #FFFFFF;
    border: 1px solid $color;
    box-shadow: -1px 0px rgb(61, 31, 19), -1px 1px rgb(84, 44, 28),
    -2px 1px rgb(60, 30, 18), -2px 2px rgb(83, 43, 27),
    -3px 2px rgb(59, 29, 17), -3px 3px rgb(82, 42, 26),
    -4px 3px rgb(58, 28, 16), -4px 4px rgb(81, 41, 25),
    -5px 4px rgb(57, 27, 15), -5px 5px rgb(80, 40, 24),
    -6px 5px rgb(56, 26, 14), -6px 6px rgb(79, 39, 23),
    -7px 6px rgb(55, 25, 13), -7px 7px rgb(78, 38, 22),
    -8px 7px rgb(54, 24, 12), -8px 8px rgb(77, 37, 21),
    -9px 8px rgb(53, 23, 11), -9px 9px rgb(76, 36, 20),
    -10px 9px rgb(52, 22, 10), -10px 10px rgb(75, 35, 19),
    -11px 10px rgb(51, 21, 9), -11px 11px rgb(74, 34, 18),
    -12px 11px rgb(50, 20, 8), -12px 12px rgb(73, 33, 17),
    -13px 12px rgb(49, 19, 7), -13px 13px rgb(72, 32, 16),
    -14px 13px rgb(48, 18, 6), -14px 14px rgb(71, 31, 15),
    -15px 14px rgb(47, 17, 5), -15px 15px rgb(70, 30, 14);
}

@mixin shadowBox{
    border: 2px solid #623232;
    border-radius: 5px;
    box-shadow: -1px 0px rgb(61, 31, 19), -1px 1px rgb(84, 44, 28),
    -2px 1px rgb(60, 30, 18), -2px 2px rgb(83, 43, 27),
    -3px 2px rgb(59, 29, 17), -3px 3px rgb(82, 42, 26),
    -4px 3px rgb(58, 28, 16), -4px 4px rgb(81, 41, 25),
    -5px 4px rgb(57, 27, 15), -5px 5px rgb(80, 40, 24),
    -6px 5px rgb(56, 26, 14), -6px 6px rgb(79, 39, 23),
    -7px 6px rgb(55, 25, 13), -7px 7px rgb(78, 38, 22);
}

@import "../../node_modules/reset.scss/reset";
@import "../js/slick-1.8.1/slick/slick";
@import "../js/slick-1.8.1/slick/slick-theme.css";

@import "sass_modules/part_1_header_nav";
@import "sass_modules/part_2_header";
@import "sass_modules/part_3_main_content";
@import "sass_modules/part_9_login";
@import "sass_modules/part_10_js_range";
@import "sass_modules/part_4_posts";
@import "sass_modules/part_5_slider";
@import "sass_modules/part_6_footer";
@import "sass_modules/part_7_425px";
@import "sass_modules/part_13_js_page_information";
@import "sass_modules/part_12_js_cart";



//@import "../js/slick-1.8.1/slick/slick-theme";










