.footer {
  height: 810px;
  background: #623232;
  //@media screen and (max-width: 1200px) {
  //  width: 1200px;
  //}
  @media screen and (max-width: 1025px) {
    width: 1024px;
  }
  @media screen and (max-width: 769px) {
    width: 768px;
    height: 710px;
  }
  @media screen and (max-width: 426px) {
    width: 100%;
    height: 500px;
  }
}

.footer_row_one,
.footer_row_two {
  width: 1200px;
  height: 200px;
  border-bottom: 1px solid #795151;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 1025px) {
    width: 1024px;
  }
  @media screen and (max-width: 769px) {
    width: 768px;
    }
  }
  .footer_row_one_item {
    width: 130px;
    height: 150px;
    margin-top: 50px;
    background-image: url("../images/26_footer_sprite.png");
    background-repeat: no-repeat;
    background-position: 40px 0;
    font-family: 'TruenoLt';
    font-size: 11pt;
    text-align: center;
    color: white;
    p {
      margin-top: 80px;
    }
}
.footer_row_one{
  @media screen and (max-width: 426px){
  display: none !important;
    }
  }
.footer_item_2 {
  background-position: -130px 0 !important;
}
.footer_item_3 {
  background-position: -285px 0 !important;
}
.footer_item_4 {
  background-position: -455px 0 !important;
}
.footer_item_5 {
  background-position: -630px 0 !important;
}
.footer_item_6 {
  background-position: -810px 0 !important;
}


// second
.footer_row_two{
  height: 500px;
  @media screen and (max-width: 768px){
    height: 400px;
  }
  @media screen and (max-width: 426px){
    height: 300px;
    width: 100%;
  }
  .footer_row_two_left{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .footer_row_two_left{
      width: 300px;
      height: 90px;
      position: relative;
      @media screen and (max-width: 1200px){
        padding-left: 20px;
      }
      .footer_row_two_left_box{
        width: 60px;
        height: 60px;
        background: #ff7373;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-size: 30px;
        color: white;
      }


      .footer_row_two_left_text_top,
      .footer_row_two_left_text_bottom{
        position: absolute;
        left: 80px;
        top: 20px;
        font-family: 'TruenoSBd';
        font-size: 13pt;
        color: #ff7373;
        transition: 0.3s;
        @media screen and (max-width: 1025px){
          margin-left: 10px;
        }
        a {
          transition: 0.3s !important;
          text-decoration: none;
          color: white;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .footer_row_two_left_text_bottom{
        top: 50px;
        font-family: 'TruenoLt';
        @media screen and (max-width: 1025px){
          font-size: 15px;
        }

      }
    }
  }
}


// Second_right

.footer_row_two_right{
  width: 880px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 769px){
    height: 400px;
  }
  @media screen and (max-width: 426px){
  display: none;
  }
  .footer_row_two_right_col{
    width: 170px;
    height: 500px;
    box-sizing: border-box;
    padding: 120px 0px;
    @media screen and (max-width: 769px){
      height: 400px;
      width: 110px;
      padding: 70px 0px;
    }
    .footer_row_two_right_col_ul{
      font-family: 'TruenoSBd';
      font-size: 11pt;
      color: #ff7373;
      line-height: 42px;
      @media screen and (max-width: 769px){
        font-size: 8pt;

      }
      a{
        text-decoration: none;
        color: white;
        font-family: 'TruenoLt';
        transition: 0.3s;
        &:hover{
          text-decoration: underline;
          margin-left: 10px;
        }
      }
    }
  }
}
.footer_row_two_right_col_hidden{
  width: 170px;
}

// Under_footer

.underfooter{
  width: 1200px;
  height: 88px;
  margin: auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  //@media screen and (max-width: 1200px){
  //  width: 1200px;
  //}
  @media screen and (max-width: 1025px){
    width: 1024px;
  }
  @media screen and (max-width: 769px){
    width: 768px;
  }
  @media screen and (max-width: 426px){
    width: 100%;
  }
}

.underfooter_left{
  margin-top: 20px;
  width: 300px;
  height: 50px;
  @media screen and (max-width: 1025px) {
    width: 100px;
  }
  @media screen and (max-width: 769px) {
    display: none;
  }
}

.underfooter_center{
  width: 600px;
  font-family: 'TruenoLt';
  text-align: center;
  margin-top: 40px;
  color: white;
  @media screen and (max-width: 1025px) {
    margin-left: 100px;
  }
  @media screen and (max-width: 769px) {
    margin-left: -100px;
  }
  @media screen and (max-width: 426px) {
    margin-top: 100px;
    width: 300px;
    margin-left: 20px;
    font-size: 10pt;
  }
}
.underfooter_right{
  width: 300px;
  height: 50px;
  position: relative;
  z-index: 100;
  @media screen and (max-width: 1025px) {
    margin-left: -100px;
  }
  @media screen and (max-width: 769px) {
    margin-left: -50px;
  }
  @media screen and (max-width: 426px) {
    width: 300px;
    margin-left: -330px;
    float: left;
  }
  .icon{
    display: inline-block;
  }
}
.icons >li{
  margin-left: 35px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 10;
  i{
background-image: url(../images/icon_bg.png);
-webkit-background-clip: text;
background-position: 0px -25px;
  color: transparent;
  text-shadow: none;
  transition: 1s;
  }
}
i:hover{
  background-position: 0px -70px !important;
}

.number_middle{
  @media screen and (max-width: 1025px){
    font-size: 14px !important;
  }
}
.number_box{
  // width: 100px;
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  font-family: 'TruenoLt';
  color: white;
  margin-top: 15px;
  position: absolute;
  cursor: pointer;
  @media screen and (max-width: 1025px){
    margin-left: 70px;
  }

  &:hover > .number{
    animation-name: footer_words;
  }
}
.number{
  transition: 0.5s;
  // animation-name: footer_words;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  &:nth-child(2){
    animation-delay: 0.05s;
  }
  &:nth-child(3){
    animation-delay: 0.1s;
  }
  &:nth-child(4){
    animation-delay: 0.15s;
    margin-left: 5px;
  }
  &:nth-child(5){
    animation-delay: 0.2s;
  }
  &:nth-child(6){
    animation-delay: 0.25s;
  }
  &:nth-child(7){
    animation-delay: 0.3s;
    margin-left: 5px;
  }
  &:nth-child(8){
    animation-delay: 0.35s;
  }
  &:nth-child(9){
    animation-delay: 0.4s;
    margin-left: 5px;
  }
  &:nth-child(10){
    animation-delay: 0.45s;
  }
  &:nth-child(11){
    animation-delay: 0.5s;
  }
  &:nth-child(12){
    animation-delay: 0.55s;
  }
  &:nth-child(13){
    animation-delay: 0.6s;
  }
  &:nth-child(14){
    animation-delay: 0.65s;
  }
  &:nth-child(15){
    animation-delay: 0.7s;
  }
  &:nth-child(16){
    animation-delay: 0.75s;
  }
  &:nth-child(17){
    animation-delay: 0.8s;
  }
  &:nth-child(18){
    animation-delay: 0.85s;
  }
  &:nth-child(19){
    animation-delay: 0.9s;
  }
  &:nth-child(20){
    animation-delay: 0.95s;
  }
  &:nth-child(21){
    animation-delay: 1s;
  }
  &:nth-child(22){
    animation-delay: 1.05s;
  }
  &:nth-child(23){
    animation-delay: 1.1s;
  }
  &:nth-child(24){
    animation-delay: 1.15s;
  }
  &:nth-child(25){
    animation-delay: 1.2s;
  }
  &:nth-child(26){
    animation-delay: 1.25s;
  }
}
@keyframes footer_words {
  0%{
    margin-top: 0;
  }
  50%{
    margin-top: -5px;
  }
  100%{
    margin-top: 0;
  }
}

.mail_3,
.mail_8,
.mail_14,
.mail_20,
.mail_23{
  margin-left: 5px !important;
}
.mail_4,
.mail_7,
.mail_9{
  margin-left: 0px !important;
}
