.top_menu_425,
.under_nav_425{
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  height: 80px;
  width: 100%;
  background: #472424;
  flex-direction: row;
  display: none;
  justify-content: space-around;
  @media screen and (max-width: 426px){
    display: flex;
  }
}

.menu_425_item{
  width: 20%;
  height: 60px;
  color: white;
  font-family: 'myriadpro-regular';
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  animation-name: menu425;
  animation-duration: 1s;
  animation-fill-mode:  forwards;
  animation-timing-function: ease-in-out;
  opacity: 0;
  transition: 0.5s;
  &:hover{
    background: #ff7373;
  }
}
.menu_425_item a{
  color: white;
  text-decoration: none;
}
.item_425_2{
  animation-delay: 0.2s
}
.item_425_3{
  animation-delay: 0.4s
}
.item_425_4{
  animation-delay: 0.6s
}
.item_425_5{
  animation-delay: 0.6s
}
.item_425_6{
  animation-delay: 0.4s
}
.item_425_7{
  animation-delay: 0.2s
}
.item_425_8{
  animation-delay: 0s
}
@keyframes menu425 {
  0%{
    opacity: 0;
  }
  25%{
    background: #ff7373;
  }
  75%{

  }
  100%{
    opacity: 1
  }
}


.item_425_8{
  margin-top: 25px;
  width: 45px;
  height: 8px;
  background: #ff7373;
  border-radius: 5px;
  transition: 1s;

  &:before{
    position: absolute;
    margin-top: -15px;
    margin-left: -22px;
    width: 45px;
    height: 8px;
    background: #ff7373;
    border-radius: 5px;
    content: "";
  }
  &:after{
    position: absolute;
    margin-top: 15px;
    margin-left: -22px;
    width: 45px;
    height: 8px;
    background: #ff7373;
    border-radius: 5px;
    content: "";
  }
}

.add_menu{
  position: absolute;
  right: 3%;
  width: 17%;
  height: 50px;
  margin-left: 120px;
  margin-top: 5px;
  position: absolute;
  cursor: pointer;
  &:hover > .drop_menu{
    z-index: 1;
  }
}
.drop_menu{
  position: absolute;
  right: 90%;
  width: 470%;
  height: 60px;
  margin-top: -5px;
  margin-left: -330px;
  transition: 1s;
  z-index: -1;
}

.drop_menu_item{
  box-sizing: border-box;
  width: 33.3%;
  height: 50%;
  float: left;
  font-family: 'TruenoLt';
  background: #472424;
  color: white;
  font-size: 10pt;
  text-align: center;
  line-height: 25px;
  opacity: 0;
  transition: 1s;
  cursor: pointer;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  &:hover{
    background: #ff7373;
  }
}
.add_menu:hover > .drop_menu > .drop_menu_item{
  opacity: 1;
  animation-name: drop_items;
}
.drop_item_2{
  animation-delay: 0.6s
}
.drop_item_3{
  animation-delay: 0.3s
}
.drop_item_4{
  animation-delay: 0.3s
}
.drop_item_5{
  animation-delay: 0.6s
}

@keyframes drop_items {
  0%{
    opacity: 0;
    background: #472424;
  }
  50%{
    background: #ff7373;
  }
  100%{
    opacity: 1;
    background: #472424;
  }
}


// BOX_SHOES_425

.main_description_box_shoes_425px{
  display: none;
  width: 100%;
  height: 210px;
  margin-top: 30px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 426px){
    display: block;
  }
}

.box_shoes_425px_bg{
  width: 100%;
  height: inherit;
  position: absolute;
  background-image: url(../images/29_jog.jpg);
  filter: grayscale(100%) sepia(100%);
  z-index: -1;
  background-size: cover;
  opacity: 0.2 !important;
}

.shoes_425px{
  box-sizing: border-box;
  // border: 1px solid black;
  width: 100%;
  height: 70px;
  font-family: 'TruenoSBd';
  font-size: 23pt;
  color: #623232;
  padding-left: 10px;
  text-align: right;
  margin-left: -40px;
  padding-top: 20px;
}

.shoes_425px_shadow{
  position: relative;
  opacity: 1;
  cursor: pointer;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  z-index: 100;
  margin-top: -30px;
  &:hover{
    animation-name: shoes_425px_shadow;
  }
}

@keyframes shoes_425px_shadow {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
    margin-right: 100px;
  }
  100%{
    margin-right: 200px;
    opacity: 0;
  }
}

ul>li.slick-active:before{
  margin-top: 4px;
  margin-left: 4px;
}
.maindots{
  @media screen and (max-width: 426px){
    margin-top: -25px;
    z-index: 1000000;
    position: relative;
  }
}