.comments_box {
  width: 100%;
  height: 600px;
  background-image: url("../images/16_bg_posts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 1;
  //@media screen and(max-width: 1200px) {
  //  width: 1200px;
  //}
  @media screen and (max-width: 1024px){
    width: 1024px;
  }
  @media screen and (max-width: 768px){
    width: 768px;
  }
  @media screen and (max-width: 426px){
    margin-top: 30px;
    width: 100%;
    height: 400px;
  }

  & .comments_box_wrap {
    width: 100%;
    height: inherit;
    background: #623232;
    opacity: 0.8;
    z-index: 10;
    position: relative;
    @media screen and (max-width: 426px){
      position: absolute;
    }
  }
}

.comments_box_post{
  width: 700px;
  height: 200px;
  position: relative;
  margin: auto;
  margin-top: -520px;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 465px){
    margin-top: 0px;
    width: 100%;
  }
  & .comments_box_post_face{
    width: 170px;
    height: 200px;
    cursor: pointer;
    transition: 1s;
    &:hover > .post_face_item{
      border: 1px solid #ff7373;
    }
    @media screen and (max-width: 426px){
      margin-top: 30px;
      height: 150px;
    }
    & .post_face_item{
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 1px solid white;
      transition: 0.5s;
      margin: auto;
      background-image: url(../images/18_post_1.png);
      background-size: cover;
      @media screen and (max-width: 426px){
        width: 50px;
        height: 50px;
        margin: auto;
      }
    }
    & .post_face_text{
      font-family: 'myriadpro-regular';
      font-size: 15pt;
      text-align: center;
      margin-top: 30px;
      color: white;
      @media screen and (max-width: 426px){
        font-size: 10pt;
      }
    }
    & .post_face_stars{
      width: 150px;
      height: 30px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      @media screen and (max-width: 426px){
        width: 80px;
        font-size: 13px;
      }
    }
    & .comments_box_post_face_text{
      width: 1100px;
      height: 0px;
      background-image: url(../images/17_bg_posts_comment.png);
      background-repeat: repeat-x;
      background-position: 150px 20px;
      position: absolute;
      margin: 50px 0px 0px -220px;
      transition: 0.5s;
      overflow: hidden;
      @media screen and (max-width: 1024px){
        width: 1000px;
        margin-left: -185px;
      }
      @media screen and (max-width: 769px){
        width: 700px;
        margin-left: -25px;
      }
      @media screen and (max-width: 426px){
        width: 90%;
        margin-left: 20px;
        margin-top: 10px !important;
        overflow: scroll;
        background-repeat: repeat;
      }
      & .face_text{
        font-family: 'myriadpro-regular';
        font-size: 16pt;
        line-height: 30px;
        color: white;
        text-align: center;
        margin: 40px;
        margin-top: 50px;
        @media screen and (max-width: 1024px){
          line-height: 25px;
        }
        @media screen and (max-width: 769px){
          font-size: 11pt;
        }
        @media screen and (max-width: 426px){
          font-size: 11pt;
          margin: 10px;
        }
      }
    }
  }
}
.post_face_stars{
  flex-direction: row-reverse;
}
.star{
  transition: 0.2s;
  color: white;
}
.star:hover{
  color: #ff7373;
}
.star:hover ~ .star{
  color: #ff7373;
}
.corner{
          width: 50px;
          height: 30px;
          position: absolute;
          overflow: hidden;
          margin: -220px 275px;
          @media screen and (max-width: 1024px){
            margin: -225px 245px !important;
          }
          @media screen and (max-width: 769px){
            margin: -225px 85px !important;
          }
          @media screen and (max-width: 426px){
            display: none;
         }

            & .corner_box{
              width: 30px;
              height: 30px;
              background-image:url(../images/17_bg_posts_comment.png);
              transform: rotate(45deg);
              margin: 15px 10px;
            }
          }

.comments_box_post_face_first:hover > .comments_box_post_face_text{
  height: 200px;
  margin-top: 50px !important;
}
.comments_box_post_face_two:hover > .comments_box_post_face_text_second{
  height: 200px !important;
  margin-top: 50px !important;
}
.comments_box_post_face_three:hover > .comments_box_post_face_text_third{
  height: 150px !important;
  margin-top: 50px !important;
}


.comments_box_post_face_second{
  background-image: url(../images/19_man.png) !important;
}
.comments_box_post_face_third{
  background-image: url(../images/20_woman.png) !important;
}




.comments_box_post_face_text_second{
  margin-left: -455px !important;
  @media screen and (max-width: 1024px){
    margin-left: -415px !important;
  }
  @media screen and (max-width: 769px){
    margin-left: -250px !important;
  }
  @media screen and (max-width: 426px){
    margin-left: -28% !important;
  }
}
.corner_second{
  margin: -220px 515px !important;
  @media screen and (max-width: 1024px){
    margin: -225px 475px !important;
  }
  @media screen and (max-width: 769px){
    margin: -225px 310px !important;
  }
  @media screen and (max-width: 426px){
    margin: -235px 310px !important;
  }

}

.comments_box_post_face_text_third{
  margin-left: -685px !important;
  @media screen and (max-width: 1024px){
    margin-left: -648px !important;
  }
  @media screen and (max-width: 769px){
    margin-left: -485px !important;
  }
  @media screen and (max-width: 426px){
    margin-left: -62% !important;
  }
}

.corner_third{
  margin: -160px 750px !important;
  @media screen and (max-width: 1024px){
    width: 1000px;
    margin: -175px 700px !important;
  }
  @media screen and (max-width: 769px){
    margin: -175px 545px !important;
  }
}
