

.jsItem_box {
  width: 100%;
  position: absolute;
  z-index: 1; //// => chenge
  height: 1200px;
  top: 150px;

  @media screen and(max-width: 1025px){
    height: 1000px;
  }
  @media screen and(max-width: 769px){
    height: 750px;
  }

  @media screen and(max-width: 426px){
    height: 1080px;
  }

}


.jsItem_box_wrap{
  width: 100%;
  height: 90%; //// => 80%
  position: absolute !important;
  bottom: 0;
  //border: 1px solid black; //// =>
  background: #ffffff;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media screen and(max-width: 426px){
    height: 100%;
    top: -40px;
  }
}


.option_content{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  height: 85%;
  //border: 1px solid black; //// =>
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  padding: 15px 0px 0 10px;

  @media screen and(max-width: 426px){
    width: 30%;
  }


.buttom_option_box{
  width: 100%;
  height: 70px;
  margin-bottom: 10px;

}

  .buttom_option{
    cursor: pointer;
    width: 85%;
    height: 80%;
    border: 2px solid #623232;
    font-size: 27px;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    color: #623232;
    font-family: 'Open Sans Condensed', sans-serif;

    @media screen and(max-width: 426px){
      font-size: 17px;
    }

    background: #ffffff;
    box-shadow:
            -1px 0px rgb(98,50,50), -1px 1px rgb(71,36,36),
            -2px 1px rgb(97,49,49), -2px 2px rgb(70,35,35),
            -3px 2px rgb(96,48,48), -3px 3px rgb(69,34,34),
            -4px 3px rgb(95,47,47), -4px 4px rgb(68,33,33),
            -5px 4px rgb(94,46,46), -5px 5px rgb(67,32,32),
            -6px 5px rgb(93,45,45), -6px 6px rgb(66,31,31),
            -7px 6px rgb(92,44,44), -7px 7px rgb(65,30,30);

  }
  .button_option_untouch{
    margin-top: 10px!important;
    margin-left: 10px;
    color: #623232;
    background: #F4E4CB;
    box-shadow:
            -1px 0px rgb(61,31,19), -1px 1px rgb(84,44,28),
            -2px 1px rgb(60,30,18), -2px 2px rgb(83,43,27),
            -3px 2px rgb(59,29,17), -3px 3px rgb(82,42,26),
            -4px 3px rgb(58,28,16), -4px 4px rgb(81,41,25),
            -5px 4px rgb(57,27,15), -5px 5px rgb(80,40,24),
            -6px 5px rgb(56,26,14), -6px 6px rgb(79,39,23),
            -7px 6px rgb(55,25,13), -7px 7px rgb(78,38,22),
            -8px 7px rgb(54,24,12), -8px 8px rgb(77,37,21),
            -9px 8px rgb(53,23,11), -9px 9px rgb(76,36,20),
            -10px 9px rgb(52,22,10), -10px 10px rgb(75,35,19),
            -11px 10px rgb(51,21,9), -11px 11px rgb(74,34,18),
            -12px 11px rgb(50,20,8), -12px 12px rgb(73,33,17),
            -13px 12px rgb(49,19,7), -13px 13px rgb(72,32,16),
            -14px 13px rgb(48,18,6), -14px 14px rgb(71,31,15),
            -15px 14px rgb(47,17,5), -15px 15px rgb(70,30,14);
  }
}


.js_login_title{
  opacity: 1;
  transition: 0.5s;
}
.js_range_title{
  opacity: 0;
  transition: 0.5s;
}


.search_content{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 15%;
  //border: 1px solid black; ///=>
  float: right;
  display: flex;
  align-items: center;

  @media screen and(max-width: 426px){
    height: 10%;
  }

    .search_content_center{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 75%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 10px;

      .search{
        display: block;
        width: 350px;
        height: 60px !important;
        outline: none;
        font-size: 27px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
        color: #623232;
        font-family: 'Open Sans Condensed', sans-serif;

        @media screen and(max-width: 376px){
          width: 270px !important;
        }

        background: #ffffff;
        border: 2px solid #623232;
        border-radius: 5px;
        box-shadow:
                -1px 0px rgb(98,50,50), -1px 1px rgb(71,36,36),
                -2px 1px rgb(97,49,49), -2px 2px rgb(70,35,35),
                -3px 2px rgb(96,48,48), -3px 3px rgb(69,34,34),
                -4px 3px rgb(95,47,47), -4px 4px rgb(68,33,33),
                -5px 4px rgb(94,46,46), -5px 5px rgb(67,32,32),
                -6px 5px rgb(93,45,45), -6px 6px rgb(66,31,31),
                -7px 6px rgb(92,44,44), -7px 7px rgb(65,30,30);


      }

      .btn_search{
        cursor: pointer;
        font-size: 27px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 5px;
        color: #623232;
        font-family: 'Open Sans Condensed', sans-serif;

        background: #ffffff;
        box-shadow:
                -1px 0px rgb(98,50,50), -1px 1px rgb(71,36,36),
                -2px 1px rgb(97,49,49), -2px 2px rgb(70,35,35),
                -3px 2px rgb(96,48,48), -3px 3px rgb(69,34,34),
                -4px 3px rgb(95,47,47), -4px 4px rgb(68,33,33),
                -5px 4px rgb(94,46,46), -5px 5px rgb(67,32,32),
                -6px 5px rgb(93,45,45), -6px 6px rgb(66,31,31),
                -7px 6px rgb(92,44,44), -7px 7px rgb(65,30,30);

        width: 150px;
        height: 60px;
        border: 1px solid black;
        margin-left: 5%;

        @media screen and(max-width: 376px){
          display: none;
        }
      }
    }

    .search_content_right{
      width: 25%;
      padding: 5%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      .logout{
        cursor: pointer;
        float: right;
        width: 80%;
        height: 60px;
        font-size: 27px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
        color: #623232;
        font-family: 'Open Sans Condensed', sans-serif;

        background: #ffffff;
        border: 2px solid #623232;
        border-radius: 5px;
        box-shadow:
                -1px 0px rgb(98,50,50), -1px 1px rgb(71,36,36),
                -2px 1px rgb(97,49,49), -2px 2px rgb(70,35,35),
                -3px 2px rgb(96,48,48), -3px 3px rgb(69,34,34),
                -4px 3px rgb(95,47,47), -4px 4px rgb(68,33,33),
                -5px 4px rgb(94,46,46), -5px 5px rgb(67,32,32),
                -6px 5px rgb(93,45,45), -6px 6px rgb(66,31,31),
                -7px 6px rgb(92,44,44), -7px 7px rgb(65,30,30);


        @media screen and(max-width: 426px){
          width: 100%;
          font-size: 15px;
        }
        @media screen and(max-width: 320px){
          font-size: 11px;
        }
      }
    }

}

.range_content{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  height: 85%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and(max-width: 426px){
    width: 70%;
    height: 88%;
  }
}

.range_content_box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25px;
  flex-wrap: wrap;
  //overflow: auto;

  @media screen and(max-width: 426px){
    flex-direction: column;
    justify-content: normal;
  }



  .box_shoe{
    box-sizing: border-box;
    width: 25%;
    height: 40%;
    border: 1px solid gray;
    margin: 10px;
    color: #623232;
    padding: 2%;
    -webkit-background-size: 85%;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "TruenoLt";
    position: relative;
    cursor: pointer;
    transition: 0.1s;

    @media screen and(max-width: 426px){
      width: 230px;
      height: 120px;
    }
    @media screen and(max-width: 376px){
      width: 210px;
    }
    @media screen and(max-width: 321px){
      width: 160px;
    }
    


    &:hover{
      margin-top: 0px !important;
      box-shadow: -1px 0px rgb(61, 31, 19), -1px 1px rgb(84, 44, 28),
      -2px 1px rgb(60, 30, 18), -2px 2px rgb(83, 43, 27),
      -3px 2px rgb(59, 29, 17), -3px 3px rgb(82, 42, 26),
      -4px 3px rgb(58, 28, 16), -4px 4px rgb(81, 41, 25),
      -5px 4px rgb(57, 27, 15), -5px 5px rgb(80, 40, 24),
      -6px 5px rgb(56, 26, 14), -6px 6px rgb(79, 39, 23),
      -7px 6px rgb(55, 25, 13), -7px 7px rgb(78, 38, 22),
      -8px 7px rgb(54, 24, 12), -8px 8px rgb(77, 37, 21),
      -9px 8px rgb(53, 23, 11), -9px 9px rgb(76, 36, 20),
      -10px 9px rgb(52, 22, 10), -10px 10px rgb(75, 35, 19),
      -11px 10px rgb(51, 21, 9), -11px 11px rgb(74, 34, 18),
      -12px 11px rgb(50, 20, 8), -12px 12px rgb(73, 33, 17),
      -13px 12px rgb(49, 19, 7), -13px 13px rgb(72, 32, 16),
      -14px 13px rgb(48, 18, 6), -14px 14px rgb(71, 31, 15),
      -15px 14px rgb(47, 17, 5), -15px 15px rgb(70, 30, 14);
    }



    border-radius: 5px;
    box-shadow:
            -1px 0px rgb(168,168,168), -1px 1px rgb(127,127,127),
            -2px 1px rgb(167,167,167), -2px 2px rgb(126,126,126),
            -3px 2px rgb(166,166,166), -3px 3px rgb(125,125,125),
            -4px 3px rgb(165,165,165), -4px 4px rgb(124,124,124),
            -5px 4px rgb(164,164,164), -5px 5px rgb(123,123,123),
            -6px 5px rgb(163,163,163), -6px 6px rgb(122,122,122),
            -7px 6px rgb(162,162,162), -7px 7px rgb(121,121,121),
            -8px 7px rgb(161,161,161), -8px 8px rgb(120,120,120);


      .sex_box_shoe, .name_box_shoe{
        font-family: TruenoBd;
        font-size: 15px;
        text-transform: uppercase;
        position: absolute;
        bottom: 18%;
        color: grey;
      }
      .name_box_shoe{
        bottom: 10%;
        text-transform: none;
        font-family: TruenoLt;
        font-size: 16px;

        @media screen and(max-width: 769px){
          font-size: 11px;
        }
      }
      .main_coast_shoe{
        font-size: 23px;
        color: #ff7270;
      }
      .down_coast_shoe{
        color: grey;
        font-size: 18px;
        margin-top: 5px;
        text-decoration: line-through;
      }
      .boxSale{
        width: 25%;
        height: 30px;
        float: right;
        top: 7%;
        right: -8px;
        position: absolute;
        text-align: center;
        line-height: 30px;
        color: #fff;
        background: #ff7270;

        @media screen and(max-width: 769px){
          font-size: 12px !important;
          height: 25px;
          line-height: 25px;
        }
      }
      .show_more{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2px;
        height: 35px;
        border: 1px solid gray;
        background: #623232;
        color: #ffffff;
        position: absolute;
        width: 70px;
        text-align: center;
        right: -80px;
        bottom: 50px;
        transition: 0.5s;
        font-size: 13px;
        opacity: 0;

        @media screen and(max-width: 425px){
          bottom: 20px;
        }
      }
  }
}

.box_shoe:hover > .show_more{
  right: -8px;
  opacity: 1;
}

///// pagination
.pag_box{
  width: 30%;
  height: 50px;
  //border: 1px solid black;
  margin: auto;
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

@media screen and(max-width: 1025px){
  width: 35%;
}
  @media screen and(max-width: 769px){
    width: 45%;
  }
  @media screen and(max-width: 426px){
    width: 80%;
  }
  
  .pag_item{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    text-align: center;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    font-family: TruenoLt;

    @media screen and(max-width: 426px){
      width: 30px;
      height: 30px;
    }


    background: #FFFFFF;
    border-radius: 5px;
    box-shadow:
            -1px 0px rgb(168,168,168), -1px 1px rgb(127,127,127),
            -2px 1px rgb(167,167,167), -2px 2px rgb(126,126,126),
            -3px 2px rgb(166,166,166), -3px 3px rgb(125,125,125),
            -4px 3px rgb(165,165,165), -4px 4px rgb(124,124,124),
            -5px 4px rgb(164,164,164), -5px 5px rgb(123,123,123),
            -6px 5px rgb(163,163,163), -6px 6px rgb(122,122,122),
            -7px 6px rgb(162,162,162), -7px 7px rgb(121,121,121),
            -8px 7px rgb(161,161,161), -8px 8px rgb(120,120,120);
  }
  .active_pag{
    margin-left: 10px;
    margin-top: -8px;
    cursor: pointer;
    color: #623232;
    background: #F4E4CB;

    box-shadow: -1px 0px rgb(61, 31, 19), -1px 1px rgb(84, 44, 28),
    -2px 1px rgb(60, 30, 18), -2px 2px rgb(83, 43, 27),
    -3px 2px rgb(59, 29, 17), -3px 3px rgb(82, 42, 26),
    -4px 3px rgb(58, 28, 16), -4px 4px rgb(81, 41, 25),
    -5px 4px rgb(57, 27, 15), -5px 5px rgb(80, 40, 24),
    -6px 5px rgb(56, 26, 14), -6px 6px rgb(79, 39, 23),
    -7px 6px rgb(55, 25, 13), -7px 7px rgb(78, 38, 22),
    -8px 7px rgb(54, 24, 12), -8px 8px rgb(77, 37, 21),
    -9px 8px rgb(53, 23, 11), -9px 9px rgb(76, 36, 20),
    -10px 9px rgb(52, 22, 10), -10px 10px rgb(75, 35, 19),
    -11px 10px rgb(51, 21, 9), -11px 11px rgb(74, 34, 18),
    -12px 11px rgb(50, 20, 8), -12px 12px rgb(73, 33, 17),
    -13px 12px rgb(49, 19, 7), -13px 13px rgb(72, 32, 16),
    -14px 13px rgb(48, 18, 6), -14px 14px rgb(71, 31, 15),
    -15px 14px rgb(47, 17, 5), -15px 15px rgb(70, 30, 14);

    @media screen and (max-width: 426px) {
      box-shadow: -1px 0px rgb(61, 31, 19), -1px 1px rgb(84, 44, 28),
      -2px 1px rgb(60, 30, 18), -2px 2px rgb(83, 43, 27),
      -3px 2px rgb(59, 29, 17), -3px 3px rgb(82, 42, 26),
      -4px 3px rgb(58, 28, 16), -4px 4px rgb(81, 41, 25),
      -5px 4px rgb(57, 27, 15), -5px 5px rgb(80, 40, 24),
      -6px 5px rgb(56, 26, 14), -6px 6px rgb(79, 39, 23),
      -7px 6px rgb(55, 25, 13), -7px 7px rgb(78, 38, 22);
      margin-top: 0;
    }
  }
}

.amountItem{
  position: absolute;
  top: 14%;
  right: 75px;
  font-family: TruenoLt;
  color: #623232;
  font-size: 15px !important;

  @media screen and(max-width: 769px){
    right: 60px !important;
    top: 15%;
  }
  @media screen and(max-width: 426px){
    top: 11%;
  }
  @media screen and(max-width: 376px){
    top: 11%;
    right: 4% !important;
  }
}

