.over_slider_text,
.over_slider_text_shadow{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  position: relative;
  margin: auto;
  font-family: 'TruenoBd';
  font-size: 30pt;
  @media screen and (max-width: 321px){
    font-size: 21pt;
    width: 250px;
  }
}

.over_slider_text{
  color: #623232 !important;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 28px;
}

.over_slider_text_shadow{
  margin-top: -35px;
  margin-bottom: 30px;
  transform: rotateX(180deg);
  perspective-origin: 50% 50%;
  perspective: 150px;
  width: 320px !important;
  @media screen and (max-width: 321px){
    font-size: 21pt;
    width: 270px !important;
    margin-top: -40px;
  }
}

.over_slider_text_word_shadow{

  -webkit-background-clip: text;
  color: transparent !important;
  transform: rotateX(-60deg);


  background-image: url(../images/28_news.png);
  background-position: 0 55px;
  &:nth-child(2){
    animation-delay: 0.2s;
  }
  &:nth-child(3){
    animation-delay: 0.4s;
  }
  &:nth-child(4){
    animation-delay: 0.6s;
  }
  &:nth-child(5){
    animation-delay: 0.8s;
  }
  &:nth-child(6){
    animation-delay: 1s;
  }
  &:nth-child(7){
    animation-delay: 1.2s;
    margin-left: 10px;
  }
  &:nth-child(8){
    animation-delay: 1.4s;
  }
  &:nth-child(9){
    animation-delay: 1.6s;
  }
  &:nth-child(10){
    animation-delay: 1.8s;
  }
}

.over_slider_text_word,
.over_slider_text_word_shadow{
  animation-name: slider_text_word;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  &:nth-child(2){
    animation-delay: 0.2s;
  }
  &:nth-child(3){
    animation-delay: 0.4s;
  }
  &:nth-child(4){
    animation-delay: 0.6s;
  }
  &:nth-child(5){
    animation-delay: 0.8s;
  }
  &:nth-child(6){
    animation-delay: 1s;
  }
  &:nth-child(7){
    animation-delay: 1.2s;
    margin-left: 10px;
  }
  &:nth-child(8){
    animation-delay: 1.4s;
  }
  &:nth-child(9){
    animation-delay: 1.6s;
  }
  &:nth-child(10){
    animation-delay: 1.8s;
  }
}

@keyframes slider_text_word {
  0%{
    margin-top: 0;
    background-position: 0 55px;
  }
  5%{
    margin-top: -10px;
    background-position: 0 70px;
  }
  15%{
    margin-top: 0;
    background-position: 0 55px;
  }
  50%{
    margin-top: 0;
  }
  100%{
    margin-top: 0;
    background-position: 0 55px;
  }
}





// SLIDER

.slider{
  width: 1200px;
  height: 350px;
  margin: auto;
  margin-bottom: 50px !important;
  @media screen and (max-width: 1025px){
    width: 1024px;
  }
  @media screen and (max-width: 769px){
    width: 768px;
  }
  @media screen and (max-width: 426px){
    width: 100%;
    height: 265px;
  }
}

.slider_box{
  width: 350px;
  height: 300px;
  margin-left: 50px;
}

.slick{
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  padding-top: 55%;
  cursor: pointer;
  transition: 0.5s;
  @media screen and (max-width: 1025px){
    width: 250px;
    height: 250px;
  }
  @media screen and (max-width: 769px){
    width: 768px;
    // height: 100px;
    margin-left: -50px;
  }
  @media screen and (max-width: 426px){
    width: 120%;
    // height: 110px !important;
  }
  &:hover > .slider_comments_box{
    background: rgba(0, 0, 0, .7);
  }
}
.slick_first{
background-image: url(../images/slider_1_sneakers_1.jpg);
}
.slick_second{
  background-image: url(../images/slider_2_sneakers_2.jpg);
}
.slick_three{
  background-image: url(../images/slider_3_sneakers_3.jpg);
}
.slick_fourt{
  background-image: url(../images/slider_4_sneakers_4.jpg);
}
.slick_fift{
  background-image: url(../images/slider_5_sneakers_5.jpg);
}

.slider_comments_box{
  box-sizing: border-box;
  width: 100%;
  height: 85%;
  background: rgba(0, 0, 0, .1);
  transition: 0.3s;
  padding: 5%;
  color: white;
  @media screen and (max-width: 1025px){
    height: 90%;
  }
  @media screen and (max-width: 769px){
    height: 130px;
    margin-top: -150px;
  }
  @media screen and (max-width: 426px){
    height: 100px;
    margin-top: -65px;
  }
  @media screen and (max-width: 376px){
    margin-top: -40px;
  }
  @media screen and (max-width: 321px){
    margin-top: -10px;
  }
}

.comments_box_second{
  display: flex;
  flex-direction: row;
  color: #ff7373;
}

.comments_box_first_text{
  font-family: 'TruenoBd';
  font-size: 11pt;
  margin-bottom: 5px;
}
.comments_box_second_text{
  max-width: 200px;
  font-family: 'Montserrat-Thin';
  font-size: 10pt;
  margin-bottom: 5px;
}
.comments_box_third_text{
  margin-left: 5px;
  margin-top: 2px;
  font-size: 10pt;
  color: #ff7373;
  font-family: 'TruenoLt';
  padding: 0;
  &:hover{
    text-decoration: underline;
  }
}

#first_comment:checked ~ .comments_box_of_people{
  transform: scalex(1);
}
#second_comment:checked ~ .comments_box_of_people{
  transform: scalex(1);
}
#third_comment:checked ~ .comments_box_of_people{
  transform: scalex(1);
}
#fourth_comment:checked ~ .comments_box_of_people{
  transform: scalex(1);
}
#fifth_comment:checked ~ .comments_box_of_people{
  transform: scalex(1);
}

.comments_box_of_people{
  transform: scalex(0);
  transition: 0.3s;
  width: 13.5%;
  height: 175px;
  margin-top: -250px;
  position: absolute;
  border: 2px solid #ff7373;
  border-radius: 5px;
  overflow: hidden;
  @media screen and (max-width: 1025px){
    height: 140px;
    margin-top: -210px;
    margin-left: -5px;
  }
  @media screen and (max-width: 769px){
    height: 190px;
    margin-top: -300px;
  }
  @media screen and (max-width: 426px){
    height: 120px;
    margin-top: -205px;
  }
  @media screen and (max-width: 376px){
    height: 120px;
    margin-top: -200px;
  }

  .bg_comments_box_of_people{
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.8;
      position: absolute;
      z-index: -1;
    }
    .box_of_people_text{
        z-index: 10;
        position: absolute;
        width: 90%;
        padding: 10px;
        color: white;
        // z-index: 10;
        overflow: scroll;
        height: 100%;
        .personal_comment{
          margin-bottom: 20px;
          width: 100%;
          .commenters_name{
            font-family: 'TruenoSBd';
            color: #ff7373;
            margin-bottom: 3px;
                }
          .commenters_text{
            font-family: 'Montserrat-Thin';
            font-size: 12px;
          }
        }
      }
}

.personal_comment:nth-child(2n+2){
margin-left: 10px;
}

.arrow_left,
.arrow_right{
  font-size: 21pt;
  margin-top: 150px;
  position: absolute;
  cursor: pointer;
  z-index: 1000;
  outline: none;
  border: none;
  background: transparent;
  color: #623232;
  @media screen and (max-width: 1024px){
      display: none !important; }
}
.arrow_right{
  margin-top: -150px;
  right: 0;
}
.slick-dots{
  bottom: -10px !important;
}

.maindots{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  margin: auto;
  margin-top: 40px;
  @media screen and (max-width: 769px){
    margin-top: 20px;
    z-index: 10000;
  }
}
.maindots > li{
  width: 21px;
  height: 21px;
  border: 1px solid #623232;
  cursor: pointer;
}

.maindots > li > button {
  outline: none;
  border: none;
  font-size: 0;
  position: absolute;
  z-index: 1;
  background: transparent;
  cursor: pointer;
}

ul > li.slick-active:before {
  width: 11px;
  height: 11px;
  margin-top: 3px;
  margin-left: 3px;
  border: 2px solid #48301c;
  background: #48301c;
  content: '';
  background-image: url("../images/footer.png");
  position: absolute;
  z-index: 1000000;
  transition: 0.5s;
}

// BOX Looking for help

.help_wrap{
  width: 100%;
  background: #ff7373;
  //@media screen and (max-width: 1200px) {
  //  width: 1200px;
  //}
  @media screen and (max-width: 1025px){
    width: 1024px;
  }
  @media screen and (max-width: 769px){
    width: 768px;
    margin-top: 110px;
  }
  @media screen and (max-width: 426px){
    width: 100%;
    margin-top: 10px;
  }
}
.box_help {
  width: 1200px;
  height: 300px;
  background: #ff7373;
  margin: auto;
  @media screen and (max-width: 1025px){
    width: 1024px;
  }
  @media screen and (max-width: 769px){
    width: 768px;
    margin: -30;
  }
  @media screen and (max-width: 426px){
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  .box_help_message {
    width: 410px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    margin: 110px 5px;
    @media screen and (max-width: 1025px){
      margin: 110px 55px;
    }
    @media screen and (max-width: 426px){
      margin-top: 10px;
      width: 300px;
    }
    @media screen and (max-width: 376px){
      margin-top: 20px;
      margin-left: 20px;
    }
    @media screen and (max-width: 321px){
      margin-left: 0px;
    }

    .box_help_message_bottom_text,
    .box_help_message_top_text {
      margin-left: 100px;
      margin-top: 10px;
      font-family: 'TruenoBd';
      color: white;
      font-size: 21pt;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 426px){
        font-size: 12pt;
      }
    }
    .message_top_text_word{
      animation-name: Word_Help;
      animation-duration: 10s;
      animation-fill-mode: backwards;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      &:nth-child(1){
        animation-delay: 0.2s;
      }
      &:nth-child(2){
        animation-delay: 0.4s;
      }
      &:nth-child(3){
        animation-delay: 0.6s;
      }
      &:nth-child(4){
        animation-delay: 0.8s;
      }
      &:nth-child(5){
        animation-delay: 1s;
      }
      &:nth-child(6){
        animation-delay: 1.2s;
      }
      &:nth-child(7){
        animation-delay: 1.4s;
      }
      &:nth-child(8){
        margin-left: 10px;
        animation-delay: 1.6s;
      }
      &:nth-child(9){
        animation-delay: 1.8s;
      }
      &:nth-child(10){
        animation-delay: 2s;
      }
      &:nth-child(11){
        margin-left: 10px;
        animation-delay: 2.2s;
      }
      &:nth-child(12){
        animation-delay: 2.4s;
      }
      &:nth-child(13){
        animation-delay: 2.6s;
      }
      &:nth-child(14){
        animation-delay: 2.8s;
      }
      &:nth-child(15){
        animation-delay: 3s;
      }
    }
    .box_help_message_bottom_text {
      font-family: 'TruenoLt';
      font-size: 11pt;
      cursor: pointer;
      margin-top: 0px;
      @media screen and (max-width: 426px){
        font-size: 10pt;
        margin-top: 10px;
      }
    }
  }
}

@keyframes Word_Help {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  10%{
    transform: scale(1);
  }
  20%{
    transform: scale(0);
  }
  40%{
    transform: scale(0);
  }
  70%{
    transform: scale(0);
  }
  75%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}

.message_top_text_second{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'TruenoBd';
  color: white;
  font-size: 21pt;
  margin-top: -30px;
  margin-left: 100px;
  @media screen and (max-width: 426px){
    font-size: 12pt;
    margin-top: -15px;
  }
}
.message_top_text_second_word{
  animation-name: second_words_help;
  animation-duration: 10s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &:nth-child(2){
    animation-delay: 0.2s;
  }
  &:nth-child(3){
    animation-delay: 0.4s;
  }
  &:nth-child(4){
    animation-delay: 0.6s;
  }
  &:nth-child(5){
    animation-delay: 0.8s;
  }
  &:nth-child(6){
    animation-delay: 1s;
    margin-left: 10px;
  }
  &:nth-child(7){
    animation-delay: 1.2s;
  }
  &:nth-child(8){
    animation-delay: 1.4s;
  }
  &:nth-child(9){
    animation-delay: 1.6s;
  }
  &:nth-child(10){
    animation-delay: 1.8s;
  }
  &:nth-child(11){
    animation-delay: 2s;
  }
  &:nth-child(12){
    animation-delay: 2.2s;
  }
  &:nth-child(13){
    animation-delay: 2.4s;
  }
}
@keyframes second_words_help {
  0%{
    opacity: 1;
    transform: scale(0);
  }
  10%{
    transform: scale(0);
  }
  25%{
    transform: scale(0);
  }
  29%{
    transform: scale(1);
  }
  30%{
    transform: scale(1);
  }
  60%{
    transform: scale(1);
  }
  65%{
    transform: scale(0);
  }
  75%{
    transform: scale(0);
  }
  100%{
    transform: scale(0);
  }
}

.envelop,
.envelop_2{
  font-size: 59pt;
  float: left;
  color: #ffffff;
  transform: scaley(0.9);
  transition: 0.5s;
}
.envelop_2{
position: absolute;
color: white;
transform: scaley(1);
margin-top: -13px;
opacity: 0;
z-index: 100;
cursor: pointer;
  &:hover{
    opacity: 1;
  }
  &:hover + .envelop{
    opacity: 0;
  }
}


// BUTTON

.box_help_button {
  width: 250px;
  height: 60px;
  background: #623232;
  margin: 120px 945px;
  outline: none;
  border: none;
  color: white;
  font-family: 'TruenoLt';
  font-size: 11pt;
  position: absolute;
  overflow:hidden;
  transition: 1s;
  cursor: pointer;
  @media screen and (max-width: 1025px){
    margin: 120px 645px;
  }
  @media screen and (max-width: 769px){
    margin: 120px 500px;
  }
  @media screen and (max-width: 426px){
    position: relative;
    width: 290px;
    margin: auto;
    margin-top: 110px;
    margin-left: 14%;
  }
  @media screen and (max-width: 376px){
    margin-left: 7%;
  }
  @media screen and (max-width: 321px){
    margin-left: 1%;
  }
  &:before{
    width: 300px;
    height: 110px;
    content: '';
    background: #fff;
    position: absolute;
    transition: 1s;
    transform: rotate(-20deg);
    margin-left: -190px;
    margin-top: -170px;
    z-index: -1;
  }
  &:after{
    width: 300px;
    height: 120px;
    content: '';
    background: #fff;
    position: absolute;
    transition: 1s;
    transform: rotate(-20deg);
    margin-left: 0px;
    margin-top: 35px;
    z-index: -1;
  }
}
.box_help_button:hover::before{
  margin-left: -90px;
  margin-top: -80px;
}
.box_help_button:hover::after{
  margin-left: -230px;
  margin-top: -25px;
}
.box_help_button:hover{
  color: #ff7373;
  z-index: 100;
}

.box_help_message_top_text::before{
  width: 30px;
  height: 50px;
  background: #ff7373;
  content: '';
  position: absolute;
  margin-left: -50px;
  transition: 3s;
}
.box_help_message_top_text::after{
  width: 20px;
  height: 50px;
  background: #ff7373;
  content: '';
  position: absolute;
  margin-left: -380px;
  transition: 5s;
}
.box_help_message_top_text{
  display: block;
  position: relative;
  overflow: hidden;
}
.box_help_message_top_text:hover::before{
  margin-left: 300px;
}
.box_help_message_top_text:hover::after{
  margin-left: 170px;
}
