.header_nav_wrap{
  width: 100%;
  height: 80px;
  background: #472424;
  @media screen and (max-width: 425px){
    display: none;
  }
}

.header_nav{
          width: 1200px;
          height: 80px;
          background: #472424;
          margin: auto;
          overflow: hidden;
          @media screen and (max-width: 1024px){
            width: 1024px;
          }
          @media screen and (max-width: 768px){
            width: 768px;
          }
}

.welcome_words{
  font-family: 'TruenoLt';
  color: white;
  font-size: 21pt;
  position: absolute;
  margin-left: 440px;
  margin-top: 20px;
  animation-name: FirstText;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  @media screen and (max-width: 1024px){
    font-size: 17pt;
    margin-left: 400px;
  }
  @media screen and (max-width: 768px){
    margin-left: 280px;
  }
}
@keyframes FirstText {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  95%{
    z-index: 1;
  }
  100%{
    opacity: 0;
    z-index: -1;
  }
}

.header_nav_bar{
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_nav_bar > li{
  &:nth-child(2){
    animation-delay: 4.6s;
  }
  &:nth-child(3){
    animation-delay: 5.4s;
  }
  &:nth-child(4){
    animation-delay: 4.4s;
  }
  &:nth-child(1){
    animation-delay: 5s;
  }
}


.header_nav_bar_right{
  float: right;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header_nav_bar_right > li{
  &:nth-child(1){
    animation-delay: 4.2s;
  }
  &:nth-child(2){
    animation-delay: 4.5s;
  }
  &:nth-child(3){
    animation-delay: 4.8s;
    margin-right: 5px;
  }
}

.nav_item{
  margin-left: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  overflow: hidden;
  height: 70px;
  padding: 10px;
  color: white;
  font-family: 'TruenoLt';
  line-height: 50px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 13pt;
  animation-name: nav;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  &:hover{
    background: #ff7373;
  }
}
.nav_item a{
  text-decoration: none;
  color: #FFFFFF;
}

@keyframes nav {
  0%{
    margin-top: -100px;
  }
  10%{
    transform: scaleY(1);
  }
  25%{
    transform: scaleY(0.5);
    margin-top: 25px;
  }
  40%{
    margin-top: 5px;
    transform: scaleY(1);
    background: #ff7373;
  }
  100%{
    transition: 0.5s;
  }
}

#cart_summarise_prise{
  margin-left: 3px;
}