.header_undernav_wrap{
  background: #623232;
  width: 100%;
  height: 150px;
  @media screen and (max-width: 1025px){
    width: 1024px;
  }
  @media screen and (max-width: 769px){
    width: 768px;
  }
  @media screen and (max-width: 426px){
    width: 100%;
  }
}
.header_undernav{
  width: 1200px;
  margin: auto;
  @media screen and (max-width: 1025px){
    width: 1024px;
  }
  @media screen and (max-width: 769px){
    width: 768px;
  }
}

.logo_box{
  float: left;
  width: 420px;
  margin-top: 55px;
  @media screen and (max-width: 769px){
    margin-left: 10px;
  }
  @media screen and (max-width: 426px){
    width: 300px;
    margin-left: 20px;
  }
}


.logo_left,
.logo_right{
  font-family: 'Audiowide';
  font-size: 35px;
  float: left;
  @media screen and (max-width: 426px){
    font-size: 21pt;
  }
}

.logo_left_word{
  float: left;
  background-image: url(../images/line_logo.png);
  -webkit-background-clip: text;
  background-position: -400px -30px;
  color: transparent;
  animation-name: linelogo;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes linelogo {
  from{
    background-position: -400px -30px;
  }
  to{
    background-position: 10px -30px;
  }
}

.logo_left{
  margin-left: -500px;
  animation-name: logoleft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes logoleft {
  0%{
    opacity: 0;
    margin-left: -500px;
  }

  100%{
    opacity: 1;
    margin-left: 10px;
  }
}

.logo_right_word{
  color: #ff7373;
  float:left;
  animation-name: rightword;
  animation-duration: 3.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  background-position: -250px 0px;
  margin-left: 10px;
  @media screen and (max-width: 425px){
    animation-name: rightwordshort;
  }
}

@keyframes rightwordshort {
  0%{
    color: #ff7373;
    margin-left: 0px;
  }
  25%{
    color: #ff7373;
    margin-left: 30px;
  }
  45%{
    color: white;
    margin-left: 0;
  }
  85%{
    color: white;
  }
  100%{
    color: #ff7373;
  }
}

@keyframes rightword {
  0%{
    color: #ff7373;
    margin-left: 10px;
    letter-spacing: 0px;
  }
  25%{
    color: #ff7373;
    margin-left: 30px;
    letter-spacing: 20px;
  }
  45%{
    letter-spacing: 0px;
    color: white;
    margin-left: 0;
  }
  85%{
    color: white;
  }
  100%{
    color: #ff7373;
    margin-left: 0;
  }
}

.undernav_nav{
  float: right;
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-around;
  font-family: 'TruenoLt';
  color: white;
  font-size: 15pt;
  margin-top: 65px;
  height: 85px;
  @media screen and (max-width: 1024px){
    width: 550px;
  }
  @media screen and (max-width: 768px){
    width: 330px;
    font-size: 10px;
    // display: none;
  }
  @media screen and (max-width: 425px){
    display: none;
  }
}
.undernav_item{
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 7px solid transparent;
  &:hover {
    border-bottom: 7px solid #ff7373;
    color: #ff7373;
           }
}

.crown{
  position: absolute;
  width: 33px;
  height: 35px;
  margin-top: -30px;
  margin-left: -2px;
  overflow: hidden;
}
.icon_crown{
  font-size: 20pt;
  transform: scaley(0.8);
  color: #ff7373;
  margin-top: 50px;
  margin-left: -1px;
  animation-name: crown;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  @media screen and (max-width: 425px){
    animation-name: crown_425;
    font-size: 15pt;
    margin-left: 1px;
  }
}

@keyframes crown_425 {
  from{
    margin-top: 50px;
  }
  to{
    margin-top: 13px;
  }
}

@keyframes crown {
  from{
    margin-top: 50px;
  }
  to{
    margin-top: 0px;
  }
}
